
<style>
    *{
        padding: 3px;
        font-size: 25px;
    }
    body{
        display: flex;
        justify-content: center;
        padding-top: 100px;
    }
    div{
        display: flex;
        width: 300px;
        
    }
    div > a{
        text-align: center;
        flex: 1 1 1px;
    }
</style>

<div>
    <a href="/covers/add">ADD</a>
    <a href="/covers">COVERS</a>
    <a href="/logon">logon</a>
</div>