<style>
    body{
        display: flex;
        justify-content: center;
    }*{
        text-align: center;
    }
</style>

        <form method="post">
            <p>
                Name:  <input type="text" name="tittle" value="João da Silva" />
            </p>
            <p>
                Email: <input type="text" name="description"  value="joao@dasilva.com" />
            </p>
            <p>
                <input type="submit" value="Submit me!" />
                
            </p>
        </form>

