<style>
    body {
        display: flex;
        justify-content: center;
    }

    * {
        text-align: center;
    }
</style>

<form method="post">
    <p>
        Name: <input type="text" name="name" value="{{name}}" />
    </p>
    <p>
        Email: <input type="text" name="email" value="{{email}}" />
    </p>
    <p>
        Senha: <input type="password" name="password" value="{{password}}" />
    </p>
    <p>
        <input type="submit" value="Submit me!" />
    </p>
</form>